html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(253, 255, 255);
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#navbar {
    padding: 40px;
    height: 80px;
}

#navbar img {
    /* border: 1px solid black; */
    margin: 13px 50% 13px 0px;
    float: left;
    top: 50%;
}

.nbar-links {
    /* border: 1px solid black; */
    /* background-color: aquamarine; */
    display: inline-flex;
    margin: 18px 0px 18px 0px;
    width: 549px;
    height: 40px;
    align-items: center;
}

.nbar-links a {
    text-decoration: none;
    color: black;
    margin: auto;

}

#home-section {
    /* border: 1px solid black; */
    height: 590px;
    margin-top: -70px;
    padding: 40px;
}

#home-left, #home-right {
    /* border: 1px solid black; */
    width: 49.82%;
    height: 590px;
    float: left;
}

#home-right {
    position: relative;
    text-align: center;
}

#home-img {
    /* border: 1px solid black; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

#home-left h1 {
    color: #000;
    font-family: Roboto;
    font-size: 95px;
    font-style: normal;
    font-weight: 700;
    line-height: 95px; /* 100% */
    margin-top: 100px;
    width: 556px;
    height: 192px;
}

#challenge {
    color: #6331F1;
    font-family: Roboto;
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: 96px;
}



#openai {
    color: #6331F1;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
    text-decoration-line: underline;
    text-transform: capitalize;
}

#theme {
    color: #0CA980;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

#learn-more {
    width: 170px;
    height: 50px;
    flex-shrink: 0;
    background: #6331F1;
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    cursor: pointer;
}

#paticip-intro{
    /* border: 1px solid black; */
    height: 30vh;
    margin-top: 10px
}

#participate {
    /* border: 1px solid black; */
    background: #F2F4F6;
    height: 100vh;
    /* width: 100%; */
    box-sizing: border-box;
    padding: 0px 40px;
    margin: 0;
}

#participate #header {
    color: var(--Heading-1, #000);
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

#participate .paragraph {
    align-self: stretch;
    color: var(--body, #4E4E4E);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

#participate-body {
    /* border: 1px solid black;
    background-color: antiquewhite; */
    height: 70vh;
}

#participate-left-body, #participate-right-body {
    /* border: 1px solid black; */
    width: 49.80%;
    float: left;
    height: 68vh;
}

#participate-body h1 {
    color: var(--Heading-1, #000);
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

#skill-dev, #networking, #recognition {
    /* border: 1px solid black; */
    height: 27.6%;
    width: 88%;
    /* background-color: #0CA980; */
    
}

#skill-dev-head, #networking-head, #recognition-head {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    color: var(--heading-2, #323232);
    font-family: Poppins;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

#skill-dev img, h4 {
    margin: 0;
}

#skill-dev img {
    width: 22px;
    height: 22px;
}

h4 {
    padding-left: 10px;
}

#skill-dev-content, #networking-content, #recognition-content {
    /* border: 1px solid black; */
    /* background-color: beige; */
    padding: -100px;
    color: var(--body, #4E4E4E);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-transform: lowercase;
}


.participate-content {
    /* border: 1px solid black; */
    width: 100%;
    float: left;
    height: 102px;
    display: flex;
    align-items: center;
}


.participate-content p {
    flex: 1 0 0;
    color: var(--body, #4E4E4E);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-left: 15px;
}

#participate-content-first img {
    margin-top: -10%;
}

#participate-content-second img {
    margin-top: -3%;
}

#participate-content-third img {
    margin-top: -3%;
}

#participate-content-fourth img {
    margin-top: -3%;
}

#purpose {
    /* border: 1px solid black; */
    height: 70vh;
    display: flex;
    padding: 50px 350px 50px 350px;
    justify-content: center;
    /* align-items: center; */
    margin: 0;
    /* background-color: #dacccc; */
}

/* #purpose div {
    border: 1px solid black;
} */

#purpose p {
    /* height: 95px; */
    align-self: stretch;
    color: var(--body, #4E4E4E);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    text-transform: lowercase;
}

#purpose h4 {
    margin: 5px 0px 5px -10px;
    color: var(--Heading-1, #000);
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

#deadline {
    color: #FD1C13;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

#date {
    color: #50AE24;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

#purpose button {
    width: 170px;
    height: 50px;
    flex-shrink: 0;
    background-color: #6331F1;
    color: #FFF;
    cursor: pointer;
}

#purpose a {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    
}

#purpose pre {
    margin: 40px 0px 40px 0px;
}


#aboutus {
    /* border: 1px solid black; */
    height: 80vh;
    background-color: #F2F4F8;
    padding: 50px 350px 50px 350px;
    display: flex;
    justify-content: center;
    margin: 0px;
}

/* #aboutus-body {
    border: 1px solid black;
    
} */

#aboutus-body h1 {
    color: var(--Heading-1, #000);
    font-family: Poppins;
    font-size: 46px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    /* border: 1px solid black; */
    width: max-content;
    margin: auto;
    margin-top: 40px;
}

#aboutus-body h4 {
    color: #6331F1;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    /* border: 1px solid black; */
    width: max-content;
    margin: auto;
    margin-top: 40px;
}

#aboutus-body div {
    /* border: 1px solid black; */
    margin-top: 20px;
    height: 350px;
}

#aboutus-body p {
    color: var(--body, #4E4E4E);
    text-align: justify;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

#ourpartners {
    /* border: 1px solid black; */
    height: 350px;
    padding: 50px 380px 50px 380px;
    
}

#ourpartners-body {
    /* border: 1px solid black; */
    height: 90%;
    margin-top: 20px;
}

#ourpartners-body h4 {
    /* border: 1px solid black; */
    color: #000;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: max-content;
    margin: auto;
    margin-top: 30px;
}

#ourpartners-body div {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#ourpartners-body img {
    width: 144.47px;
    height: 100px;
    flex-shrink: 0;
    float: left;
    /* border: 1px solid black; */

}

#ourpartners-body p {
    /* border: 1px solid black; */
    height: 100px;
    padding: 40px 0px 0px 20px;
    margin-left: 30px;
    width: 566px;
    flex-shrink: 0;
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

footer {
    height: 40vh;
    background-color: #C3C7CE;
    padding: 50px;
}