@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;900&display=swap');


html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

/* Container styling*/

.container{
    width: 100%;
    background-color: #f5f5dc;
}

section , footer{
    max-width:  1280px;
    margin: 0 auto;
    padding-left:7.5rem ;
    padding-right: 7.5rem;
}

.homepage {
   height: 650px;
   display: flex;
   flex-direction: column;
}
#navbar {
    padding: 40px;
    height: 80px;
}
nav, header, main{
    justify-content: space-between;
}

/* Header and nav style */
header {
    margin-top: 60px;
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
}
nav {
    padding: 10px;
    display: flex;
    width: 40%;
}

nav > a{
    text-decoration: none;
    font-size: 1.25rem;
    color: #4e4e4e;
    font-weight: 500;
}
nav > a:hover {
    color: #6331F1;
}

/*Hero styles*/
main {
    margin-top: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 3.75rem;
}
.hero-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.headline {
    font-size: 6rem;
    line-height: 6.5rem;
    font-weight: 700;
    color: #171616;
    
}
.challenge{
    color: #6331F1;
}
.hero-text > p{
    font-size: 1.5rem;
    font-weight: 500;
    color: #4E4E4E;
}
.headline, .hero-text, .openai{
    font-family: 'Roboto', sans-serif;
}

.openai{
    color: #6331F1;
    font-weight: 500;
    font-size: 1.5rem;
}
.underline{
    text-decoration: underline;
}

.picture{
    height: 400px;
    width: 500px;
    object-fit: contain;
}
.picture > img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 5px f2f4f8;
}
.theme{
    display: flex;
    gap: 0.5rem;
    font-size: 1.25rem;
    color: #0CA980;
    font-weight: 500;
}

/*button style*/
.btn{
    width: 170px;
    padding: 0.75rem 2.1875rem;
    color: #FFF;
    background-color: #6331F1;
    font-size: 1.125rem;
    font-weight: 500;
    cursor: pointer;
}
.btn-1 {
    margin-top: 3.125rem;
}
.btn:hover {
    background-color:#7f51fb;
    box-shadow: 8px 8px 3px #dde0e6;
}


#participate {
 height: 49.5rem;
 padding-top:2rem ;
 padding-bottom: 2rem;
 background-color: #F2F4F8;

}

.aboutChallenge{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 16px;

}
#participate .header {
    color:#171616;
    font-family: Poppins;
    font-size: 2rem;
    font-weight: 600;
    text-transform: capitalize;
}

.aboutChallenge p {
    align-self: stretch;
    color:  #4E4E4E;
    font-size: 18px;
    font-weight: 500;
    
}

.details{
 display: flex;
 justify-content: space-between;
 gap: 20px;
}
.whyParticipate , .Purpose{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 8px;
}

.whyParticipate > .headText ,.Purpose>h1{
    padding: 10px;
    font-size: 2rem;
    font-weight: 600;
}

.benefits{
    gap: 8px;
}
.skill-section, .purposeDetails, .benefits{
    display: flex;
    flex-direction: column;
}
.skill-section{
    gap: 8px;
    padding: 0 10px;
}
.skill-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}
.skills{
    font-size: 24px;
    font-weight: 500;
    color: #323232;
}
.atf{
    color: #6331F1;
}

.purposeDetails{
    gap: 24px;
}
.participate-content{
    display: flex;
    gap: 12px;
    align-items: flex-start;
}

.texts{

    align-self: stretch;
    color:  #4E4E4E;
    font-family: Poppins;
    font-size: 18px;

    font-weight: 500; 
}
.eligibility{
    padding: 24px 0;
}

.eligibility .body, .body-contents{
        display: flex;
        flex-direction: column;
}
.eligibility .body{
    width: 50%;
    margin: auto;

    gap: 18px;
   
}
.body-contents{
    text-align: justify;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 10px; 
}
.body-contents > h4 {
  
    color: #000;
    
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
}
.body-contents > p{
   font-size: 18px;
   font-weight: 500;
   color: #4e4e4e; 
 
}
.closing-date{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.closing-date > p{
  font-size: 2rem;
  font-weight: 600;
}
.deadline {
    color: #FD1C13;
}
.date {
    color: #50AE24;
}

.btn-2{
    padding: 12px 26px;
}

/* About us styles*/
#about {
    background-color: #F2F4F8;
}
.description, .main-container , .description > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-container{
    width: 50%;
    margin: 0 auto;
    gap: 12px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.description{
    gap: 10px;
}
.description > div{
    gap: 12px;
    text-align: justify;
}
.description>h4{
    font-size: 32px;
    font-weight: 600;
    color: #6331F1;
}
#about > div >h1{
    font-size: 46px;
}


/* Partners styles*/
#partners {
    height: 350px;
}
#partners, .partnerContent, .text-el {
        display: flex;
        justify-content: center;
        align-items: center;
}
.partnerContent{
    width: 50%;
  flex-direction: column;
  gap: 16px;
}
.partnerContent >h1 {
    font-size: 46px;
    font-weight: 600;
}
.text-el{
 justify-content: space-between;
 align-items: center;
 gap: 40px;
}
.text-el > p{
    margin-top: 20px;
    text-align: justify;
    font-size: 18px;
}

footer {
   background-color: #C3C7CE;
   height: 300px;
   display: flex;
   justify-content: center;
   align-items: center;

}
.footerContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height:11.25;
        gap: 30px;
}
.bars{
    width: 30%;
    height:10px ;
    background: #6331F1;
}
.item1, .item2,.socials,.members{
    display: flex;
}
.item2{
    height: 30px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0 ;
}
.socials{
    gap: 16px;
}
.item2 > p{
    font-size: 16px;
    font-weight: 500;
}
.item1{
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.members{
    justify-content: space-between;
    gap: 16px;
    align-items: ccenter;
}
.profile-card{
    padding: 5px ;
    width:200px ;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.circle {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    
    background-color: #ac24ae;
}
.profile-card > p{
    font-size: 16px;
    color: #323232;
}